@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.content-wrapper {
  background-color: #f6f6f6 !important;
}

.main-header .logo {
  font-size: 25px;
  font-weight: bold;
  color:black !important;
  min-height: 10px !important;
  background-color: white !important;
}

.small-box .inner p {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.sidebar-collapse .main-header .logo {
  background-color: #f6f6f6 !important;
} 

.main-header .navbar {
  background-color: #f6f6f6 !important;
  min-height: 50px !important;

}

.main-header .navbar .sidebar-toggle {
  background-color: #f6f6f6 !important ;
  color: black !important;
}


.main-header .navbar .sidebar-toggle:hover {
  background-color: #ffcb77 !important ;
}



.bg-aqua{
  color:black !important;
  background-color: #ffcb77 !important;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.bg-aqua .inner h3 {
  text-align: center;
} 

.shiny-bound-input {
  background-color: white !important;
}


.shiny-bound-input h2{
  font-weight: bold;
  color: black;
  margin-left: 20px;
}


.sidebar a {
  font-weight: bold !important;
  color: black !important;
  background-color: white !important;
  border-left-color: white !important;
}


.sidebar a:hover {
  background-color: #ffcb77 !important;
}

.sidebar li {
  margin-left: 30px;
  border-left: none;
}

.secondaryHeading {
  padding-bottom: 20px;
}

.fluidrow2, .fluidrow3 {
  margin: 20px 5em;
}

.fluidrow2 .box, .fluidrow3 .box {
  border-top: 0px !important;
  transition: all .2s ease-in-out; 
}


.col-sm-5 .box {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
  border-top: none !important;
}

.col-sm-7 .box {
  border-top: none !important;
  box-shadow: none !important;
  margin-bottom: 20px !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
}


.col-sm-7 .col-sm-12 .box{
  box-shadow: none !important;
}

.select_sector .control-label h3{
  font-weight: bold;
}

.select_sector .selectize-input {
  border-radius: 15px !important;
  background-color: #ffcb77 !important;
  border: none !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.select_sector .selectize-input .item {
  font-weight: bold !important;
}

.top_companies_table {
  padding:0px !important;
}

.box1 .col-sm-6 .box {
  box-shadow: none !important;
  border: none !important;
}

.col-sm-12 .box {
  border-top: none !important;
  box-shadow: none !important;
  margin-bottom: 20px !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
}

.col-sm-5 .box .gttable {
  height: 100%;
}

.col-sm-5 .box .gttable .shiny-html-output {
  height: 100%;
}

.col-sm-5 .box .gttable .shiny-html-output #toilxulxrw{
  height: 100%;
}

.col-sm-5 .box .gttable .shiny-html-output .gt_table {
  height: 1150px;
}


.cityInput .box .form-group #company_city {
  font-weight: bold !important;
  text-align: center;
  background-color: #ffcb77 !important;
  border-radius: 15px !important;
  border: none !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cityInput .box {
  box-shadow: none !important;
  border: none !important;
}

.col-sm-12 .box .box-header h3{
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

#sector_info {
  font-family: 'Roboto', sans-serif;
}

#text1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.col-sm-5 .box .ggiraph {
  padding-top: 40px !important;
}
